/* Modifies intitial window screen */
#startWindow{
    width: 500px;
    height: 300px;
   
    margin: auto;
    position: relative;
    margin-top: 10%;
    
}

/* Modifies title */
#title{

   margin: auto;
    width: 15em;
    text-align: center;
    padding-bottom: 20px;
}

/*Modifies instructions paragraph */
#instructions {
margin: auto;
text-align: center;
padding-bottom: 20px;

}

/* Modifies start button */
#startButton{
background-color:rgb(13, 65, 236);
color: white;
position: relative;
margin: auto;
height: 3em;
width: 15em;
margin-left: 33%;
text-align: center;

}
/* Modifies start button */
#timer{
display: inline;
position: absolute;
margin-left: 85%;
}

.choiceA{
    background-color: red;
    }

.answerButton{
background-color:rgb(13, 65, 236);
color: white;
position: relative;
margin: auto;
height: 3em;
width: 15em;
margin-left: 33%;

}
.answerButtonsDiv{
    display: none;
   

}


