/* Modifies intitial window screen */

body{
background-image: url(.//assets/techBackground.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color:white;

}
#startWindow
{
    width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
    margin-top: 10%;
    
}

/* Modifies title */
#title,
#endWindow{

   margin: auto;
    width: 15em;
    text-align: center;
    padding-bottom: 20px;
}

/*Modifies instructions paragraph */
#instructions {
margin: auto;
text-align: center;
padding-bottom: 20px;

}

/* Modifies start button */
#startButton,
#submitButton{
background-color:rgb(13, 65, 236);
color: white;
position: relative;
margin: auto;
height: 3em;
width: 15em;
margin-left: 33%;
text-align: center;

}
/* Modifies start button */
#score{
    display: inline;
    position: absolute;
    margin-left: 40%;
    font-size: 20px;

    
    }
#timer{
display: inline;
position: absolute;
margin-left: 85%;
font-size: 20px;

}

.choiceA{
    background-color: red;
    }

.answerButton{
background-color:rgb(13, 65, 236);
color: white;
position: relative;
margin: auto;
height: 3em;
width: 15em;
margin-left: 33%;

}
.answerButtonsDiv{
    display: none;
   

}
#endWindow{
display: none;
width: 500px;
height: 300px;
margin: auto;
position: relative;
margin-top: 10%;
}

#submitButton{
    background-color:rgb(13, 65, 236);
    color: white;
    position: relative;
    margin: auto;
    height: 3em;
    width: 15em;
    
    
    }
